@import url('https://fonts.googleapis.com/css?family=Raleway');
@import './variables';

html {
    font-family: 'Raleway', sans-serif;
}

html, body {
    color: $dark-grey;
    font-size: $global-font-size;
    height: 100%;
}

.title {
    font-size: $title-font-size;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

#app, .site {
    height: inherit;
}

.link {
    color: $link-color;
    display: inline-block;
    font-size: $link-font-size;
    font-weight: 600;
    margin: 3px 0;
    text-decoration: none;

    &::after {
        background: $dark-grey;
        content: '';
        display: block;
        height: 1px;
        transition: width .3s;
        width: 0;
    }
    
    &:hover::after {
        width: 100%;
    }
}

.line {
    background: $dark-grey;
    display: block;
    height: 1px;
    margin: 10px 0;
    width: 120px;
}

.site {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .site__col {
        align-items: center;
        display: flex;
        flex: 1 1 100%;
        width: 100%;

        .site__content {
            margin: auto;
            max-width: 700px;
            padding: 20px 30px;
            width: 100%;
        }
    }
}