@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
    font-family: 'Raleway', sans-serif;
}

html, body {
    height: 100%;
    font-size: 12px;
}

.title {
    font-size: 70px;
}

p {
    font-size: 14px;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

#app, .site {
    height: inherit;
}

.link {
    font-weight: 600;
    text-decoration: none;
    color: #003D6B;
    margin: 3px 0;
    display: inline-block;

    &::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background: #000;
        transition: width .3s;
    }
    
    &:hover::after {
        width: 100%;
    }
}

.line {
    margin: 10px 0;
    height: 1px;
    width: 120px;
    display: block;
    background: #333;
}

.site {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;

    .site__col {
        width: 100%;
        flex: 1 1 100%;
        align-items: center;
        display: flex;

        .site__content {
            padding: 20px 30px;
            max-width: 700px;
            width: 100%;
            margin: auto;
        }
    }
}